apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: altoroj
  name: altoroj
  namespace: altoroj
spec:
  replicas: 2
  selector:
    matchLabels:
      app: altoroj
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: altoroj
    spec:
      containers:
      - image: age68573/altoroj:replaceImageTag
        name: eap74
        resources: {}
      imagePullSecrets:
      - name: registryauth
status: {}
